* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  line-height: 1.42;
}

body {
  @include font('roboto', 16px, 400, $grafit);
  background-color: $white;
  min-width: 320px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  display: block;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
}

button, input, textarea {
  @include font('roboto', 16px, 400, $grafit);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100%;
  position: relative;
}

.main {
  flex: 1;
  flex-basis: auto;
}

.section {
  min-height: 100vh;
}

.heading {
  text-align: center;
  color: $grafit;
  font-size: 28px;
  font-weight: 500;
  margin: 0;

  @include smartphone {
    font-size: 21px;
  }
}

.heading_big {
  @include font('bernierregular', 63px, 400, $black);
}

.heading_medium {
  @include font('bernierregular', 35px, 400, $grafit);
}

.heading_main-logo {
  font-size: 35px;
  color: $white;
}

.heading__content {
  position: relative;
  display: inline-block;

  &:before {
    @include linesForHeadings($black);
    left: -40px;
  }

  &:after {
    @include linesForHeadings($black);
    right: -40px;
  }
}

.prevent-scroll {
  position: fixed;
  overflow-y:scroll;
}

.connectionError {
  background-color: #fff;
  padding: 20px 45px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.connectionError__content {
  color: rgb(230, 1, 1);
}