extends ../base
block title
  script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGxGM4std4Q43_Ya5ubE_UDetPq7WUh0o")
  title About page
block bg-word
  include ../../static/images/bg/words/about_header.svg
block split
  include ../../components/triangles/triangles.pug
  +triangles('triangles__multicolor')
  .info.split__info
    .info__head
      h1.info__main-heading.heading.heading_big
        .heading__content Обо мне
    .info__main
      .info__wrap
        img.info__img(src=require("../../static/images/heroBig.jpg"), alt="Мое фото")
      h2.info__second-heading.heading.heading_medium
        .heading__content Кто я
      .info__content
        p.info__paragraph Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
        p.info__paragraph Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
  #skills.skills.split__skills
    h2.skills__heading.heading.heading_medium
      .heading__content Чем я могу быть 
      .heading__second-line вам полезен
    #skillsContainer.skills__main
      .skills__content
        p.skills__paragraph Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
      .skills__circles
block solid
  #map.map
  .contacts.solid__contacts
    h2.contacts__heading
      .heading__content Контакты
    ul.contacts__list
      li.contacts__item
        a.contacts__link.contacts__link_skype(href='skype: ov.s.ust@gmail.com')
          span.contacts__text ov.s.ust@gmail.com
      li.contacts__item
        a.contacts__link.contacts__link_email(href='mailto: ov.s.ust@gmail.com')
          span.contacts__text ov.s.ust@gmail.com
      li.contacts__item
        a.contacts__link.contacts__link_tel(href='tel: +79250331846')
          span.contacts__text +7 925 033 18 46