//split

.section_split {
  display: flex;
  flex-direction: row;
  position: relative;

  @include tablet {
    flex-direction: column;
  }
}

.split__info,
.split__skills {
  flex: 1 1;
  width: 50%;

  @include tablet {
    flex: none;
    width: 100%;
  }
}

.split__skills {
  position: relative;
}

.split__info {
  @include specialHugeScreen {
    display: flex;
    flex-direction: row;
    align-items: space-between;
  }
  @include tablet {
    padding-top: 50px;
  }
  @include smartphone {
    padding-top: 0;
  }
}

//info

.info {
  background-color: $grey;
}

.info__head {
  position: relative;

  &:before {
    content: '';
    background-image: url('../../static/images/bg/words/about_header.svg');
    background-position: center center;
    background-repeat: no-repeat;
    @include absoluteCenter();
    opacity: 0.1;
    width: 100%;
    height: 150%;

    @include specialHugeScreen {
      background-position: center 250px;
      width: 90%;
    }
  }
}

.info__main {
  margin-right: 13.3%;
  margin-left: 13.3%;
  margin-bottom: 40px;
  @include specialHugeScreen {
    margin-right: 20px;
    margin-left: 0;
  }

  @include tablet {
    margin-right: 19%;
    margin-left: 19%;
  }
  @include smartphone {
    margin-right: 0;
    margin-left: 0;
  }
}

.info__head, .info__main {
  @include specialHugeScreen {
    flex: 1 1;
  }
}

.info__main-heading {
  margin: 0;
  @include smartphone {
    margin-top: 15px;
  }
}

.info__second-heading {
  margin-bottom: 16px;
}

.info__wrap {
  margin-top: 35px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 390px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  @include tablet {
    width: 100%;
    height: auto;
  }
}

.info__content {
  @include tablet {
    font-size: 14px;
  }

  @include smartphone {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.info__content p {
  margin-bottom: 20px;
}

//skills

.skills {
  background-color: $beige;
}

.skills__heading {
  max-width: 250px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  @include smartphone {
    margin-top: 30px;
  }
}

.skills__main {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  @include tablet {
    margin-right: 19%;
    margin-left: 19%;
  }
  @include smartphone {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.skills__content {
  @include tablet {
    font-size: 14px;
  }
}

.skills__circles {
  margin-top: 35px;
  position: relative;
}

.skills__connectionError {
  width: 90%;
  margin-left: auto;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 50px;
}

// solid
.section_solid {
  position: relative;
  
  @include smartphone {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  @include smartphone {
    position: static;
    flex-grow: 1;
    order: 2;
  }
}

.solid__contacts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  
  @include smartphone {
    position: static;
    transform: none;
    order: 1;
  }
}

.contacts {
  background-color: rgba(252, 252, 252, 0.851);
  border-radius: 5px;
  padding: 35px;

  @include smartphone {
    padding-top: 30px;
    padding-left: 10px; 
    padding-right: 10px;
    padding-bottom: 20px;
    background-color: rgb(252, 252, 252);
  }
}

.contacts__heading {
  line-height: 1;
  margin-bottom: 35px;
  margin-left: 100px;
  margin-right: 100px;
  @include font('bernierregular', 35px, 400, $grafit);
  text-align: center;

  @include smartphone {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
  }
}

.contacts__item {
  margin-bottom: 30px;
  @include smartphone {
    margin-bottom: 15px;
  }
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__link {
  display: flex;
  &:before {
    margin-right: 15px;
  }
}

.contacts__link_skype {
  &:before {
    content: url('../../static/images/contactsIcons/skype.svg');
  }
}
.contacts__link_email {
  &:before {
    content: url('../../static/images/contactsIcons/envelope.svg');
  }
}
.contacts__link_tel {
  &:before {
    content: url('../../static/images/contactsIcons/phone.svg');
  }
}

.gm-style {
  overflow: hidden;
}