.triangles {
  position: absolute;
  left: 0;
  right: 0;
  top: -110px;
  z-index: 1;
}

.triangles-box {
  width: 100%;
}

//multicolor

.triangles__multicolor .triangles__left {
  fill: $grey;
}

.triangles__multicolor .triangles__right {
  fill: $beige;
}

//singlecolor

.triangles__singlecolor .triangles__left {
  fill: #faf8f0;
}

.triangles__singlecolor .triangles__right {
  fill: #faf8f0;
}

//blog

.triangles__blog .triangles__left {
  fill: $white;
}

.triangles__blog .triangles__right {
  fill: $white;
}
