.triangles {
  position: absolute;
  left: 0;
  right: 0;
  top: -120px;
  z-index: 1;

  @include hugeScreen {
    top: -150px;
  }

  @include smartphone {
    top: -30px;
  }

  @include tablet {
    top: -70px;
  }
}

.triangles-box {
  width: 100%;
  height: 120px;

  @include hugeScreen {
    height: 150px;
  }

  @include smartphone {
    height: 30px;
  }

  @include tablet {
    height: 70px;
  }
}

//multicolor

.triangles__multicolor .triangles__left {
  fill: $grey;
}

.triangles__multicolor .triangles__right {
  fill: $beige;

  @include tablet {
    fill: $grey;
  }
}

//singlecolor

.triangles__singlecolor .triangles__left {
  fill: #faf8f0;
}

.triangles__singlecolor .triangles__right {
  fill: #faf8f0;
}

//blog

.triangles__blog .triangles__left {
  fill: $white;
}

.triangles__blog .triangles__right {
  fill: $white;
}
