.user {
  @include smartphone {
    width: 100%;
  }
  will-change: transform;
}

.user__wrap {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.user__img {
  max-width: 140px;
  max-height: 140px;
}

.user__heading {
  margin-top: 14px;
  margin-bottom: 14px;
  white-space: nowrap;

  @include smartphone {
    margin-bottom: 5px;
  }
}

.user__info {
  text-align: center;
  margin-bottom: 20px;
}

// user_main

.user_main .user__info {
  color: $white;
  font-weight: 300;
}

// user_blog

.user_blog .user__info,
.user_blog .user__heading {
  color: $white;
}

.user_blog .user__heading {
  margin-bottom: 0;
  line-height: 1;
}
