/* roboto bold */
@font-face {
  font-family: 'roboto';
  src: url('../../static/fonts/roboto-bold-webfont.ttf');
  src: local('☺'), url('../../static/fonts/roboto-bold-webfont.woff') format('woff'),
    url('../../static/fonts/roboto-bold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* roboto bold italic*/

@font-face {
  font-family: 'roboto';
  src: url('../../static/fonts/Roboto-BoldItalic.ttf');
  src: local('☺'), url('../../static/fonts/roboto-bolditalic-webfont.woff') format('woff'),
    url('../../static/fonts/roboto-bolditalic-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

/* roboto medium*/

@font-face {
  font-family: 'roboto';
  src: url('../../static/fonts/roboto-medium-webfont.ttf');
  src: local('☺'), url('../../static/fonts/roboto-medium-webfont.woff') format('woff'),
    url('../../static/fonts/roboto-medium-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

/* roboto medium italic*/

@font-face {
  font-family: 'roboto';
  src: url('../../static/fonts/Roboto-MediumItalic.ttf');
  src: local('☺'), url('../../static/fonts/roboto-mediumitalic-webfont.woff') format('woff'),
    url('../../static/fonts/roboto-mediumitalic-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

/* roboto regular*/

@font-face {
  font-family: 'roboto';
  src: url('../../static/fonts/roboto-regular-webfont.ttf');
  src: local('☺'), url('../../static/fonts/roboto-regular-webfont.woff') format('woff'),
    url('../../static/fonts/roboto-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* roboto regular italic*/

@font-face {
  font-family: 'roboto';
  src: url('../../static/fonts/Roboto-Italic.ttf');
  src: local('☺'), url('../../static/fonts/roboto-italic-webfont.woff') format('woff'),
    url('../../static/fonts/roboto-italic-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

/* roboto light*/

@font-face {
  font-family: 'roboto';
  src: url('../../static/fonts/Roboto-Light.ttf');
  src: local('☺'), url('../../static/fonts/roboto-light-webfont.woff') format('woff'),
    url('../../static/fonts/roboto-light-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* roboto light italic*/

@font-face {
  font-family: 'roboto';
  src: url('../../static/fonts/Roboto-LightItalic.ttf');
  src: local('☺'), url('../../static/fonts/roboto-lightitalic-webfont.woff') format('woff'),
    url('../../static/fonts/roboto-lightitalic-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

/*font awesome*/

@font-face {
  font-family: 'fontAwesome';
  src: url('../../static/fonts/fontawesome-webfont-webfont.ttf');
  src: local('☺'), url('../../static/fonts/fontawesome-webfont-webfont.woff') format('woff'),
    url('../../static/fonts/fontawesome-webfont-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/*berniershade regular*/

@font-face {
  font-family: 'berniershade';
  src: url('../../static/fonts/BERNIERShade-Regular.ttf');
  src: local('☺'), url('../../static/fonts/berniershade-regular-webfont.woff') format('woff'),
    url('../../static/fonts/berniershade-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/*bernierregular regular*/

@font-face {
  font-family: 'bernierregular';
  src: url('../../static/fonts/BERNIERRegular-Regular.ttf');
  src: local('☺'), url('../../static/fonts/bernierregular-regular-webfont.woff') format('woff'),
    url('../../static/fonts/bernierregular-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/*bernierdistressed regular*/

@font-face {
  font-family: 'bernierdistressed';
  src: url('../../static/fonts/bernierdistressed-regular-webfont.ttf');
  src: local('☺'), url('../../static/fonts/bernierdistressed-regular-webfont.woff') format('woff'),
    url('../../static/fonts/bernierdistressed-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
