mixin circles(array)
  ul#circles.circles
    each item in array
      li.circles__row
        h3.heading.circles__heading=item.name
        ul.circles__inner-list
          each skill in item.skills
            li.circles__item
              svg.circles-svg(width="120", height="120", class="circles-svg")
                circle.circle-under(cx="60", cy="60", r="50")
                circle#circle.circle-above(cx="60", cy="60", r="50", stroke-dasharray= ((2 * 3.1415 * 50) * skill.percentage / 100) + ' 630')
              .circles__info=skill.name