.circles__row {
  margin-top: 25px;
}

.circles__row:first-child {
  margin-top: 0;
}

.circles__row:last-child {
  margin-bottom: 25px;
}

.circles__heading {
  text-align: left;
  @include hugeScreen {
    margin-bottom: 15px;
  }

  @include tablet {
    text-align: center;
    margin-bottom: 10px;
  }
}

.circles__inner-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  @include hugeScreen {
    justify-content: flex-start;
  }
}

.circles__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @include smartphone {
    margin-bottom: 30px;
  }
}

.circles__item + .circles__item {
  margin-left: 25px;
  @include smartphone {
    margin-left: 15px;
  }
}

.circles-svg {
  stroke-width: 20px;
  fill: none;
}

.circle-under {
  stroke: #ccc;
  
}

.circle-above {
  stroke: #10c1a8;
  stroke-dashoffset: 315;
  transform: rotate(-90deg);
  transform-origin: 60px 60px;
  transition: all 1.5s;
}

.circles_full .circle-above {
  stroke-dashoffset: 0;
}

.circles__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include font(roboto, 13px, 500, #00bfa5);
}
