extends ../baseStartPage.pug
block title
  title Портфолио
block header
  .header.welcome__header
    button#authButton.auth-button.header__button
      span.auth-button__text Авторизоваться
block main
  .main.welcome__main
    #flipper.flip-container
      .flip
        .hero.main__hero
          .hero__main
            include ../../components/user/user
            +user()
            include ../../components/socials/socials.pug
            +socials('common', 'socials_color_green')
          include ../../components/nav_list/nav_list.pug
          -var links = [{path: 'portfolio.html', content:'Мои работы'}, {path:'about.html', content:'Обо мне'}, {path:'blog.html', content:'Блог'}]
          +navList(links, 'nav_color_green nav_horizontal')
        .auth.main__auth
          .auth__main
            h2.heading.auth__heading.heading_medium
              .heading__content Авторизуйтесь
            form#authForm.auth__form(action="POST")
              .auth__input-wrap.auth__input-wrap_login
                .auth__icon
                  include ../../static/images/otherIcons/login.svg
                input#login.auth__input(placeholder="Логин")
              .auth__input-wrap.auth__input-wrap_password
                .auth__icon
                  include ../../static/images/otherIcons/password.svg
                input#password.auth__input(placeholder="Пароль") 
              label.auth__label
                input.auth__checkbox(type="checkbox")
                .auth__custom-checkbox
                span.auth__label-text Я человек
              .auth__question Вы точно не робот?
              .auth__question-wrap
                label.auth__label
                  input.auth__radio(type="radio", name="question", value="Yes")
                  .auth__custom-radio
                  span.auth__label-text Да
                label.auth__label
                  input.auth__radio(type="radio", name="question", value="No")
                  .auth__custom-radio
                  span.auth__label-text Не уверен
          .auth__buttons
            button#backButton.auth__button На главную
            button.auth__button(type='submit', form='authForm') Войти
block footer
  .footer.welcome__footer
    .footer__content 
      span.footer__element &copy;Устюжанин Станислав 
      span.footer__element | Создано с любовью в LoftSchool | 2018
    