<!DOCTYPE html>
html(lang="ru-RU")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block title
  body
    block preloader
    .wrapper
      .modal#modal
        .modal__left
        include ../components/nav_list/nav_list.pug
        -var links = [{path: 'portfolio.html', content:'Мои работы'}, {path:'about.html', content:'Обо мне'}, {path:'blog.html', content:'Блог'}, {path:'index.html', content:'Авторизация'}]
        +navList(links, 'modal__nav nav_vertical modal__nav_hidden')
        .modal__right
      include ../components/burger_menu/burger_menu.pug
      +burger('burger_header')
      include ../components/header/header.pug
      .main
        section.section.section_main
          #parallax.parallax
            img.parallax__image(src=require("../../static/images/bg/bgHugeScreen.jpg"))
          include ../components/user/user.pug
          +user('user_main', 'heading_main-logo')
          #bgWord.bg-word.bg-word_big.main__bg-word
            block bg-word
          button#arrowDown.arrow.main__arrow
            include ../static/images/otherIcons/arrow_down.svg
        section#skillsSection.section.section_split
          block split
        section.section.section_solid
          block solid
      include ../components/footer/footer.pug