<!DOCTYPE html>
html(lang="ru-RU")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block title
  body
    include ../components/header/header.pug
    block main
    include ../components/footer/footer.pug