<!DOCTYPE html>
html(lang="ru-RU")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block title
  body
    .wrapper
      include ../components/header/header.pug
      .main
        section.section.section_main
          block main
        section.section.section_split
          block split
        section.section.section_solid
          block solid
      include ../components/footer/footer.pug