.preloader-modal {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 191, 165, 1);
  z-index: 10;
}

.preloader {
  stroke-dasharray: 200;
  stroke-dashoffset: 100;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.outerCircle {
  animation: rotate 2.5s linear infinite;
  transform-origin: center center;
  transform: translate3d(0, 0, 0);
}

.middleCircle {
  animation: rotate 1.5s linear infinite;
  transform-origin: center center;
  transform: translate3d(0, 0, 0);
}

.innerCircle {
  animation: rotate 1s linear infinite;
  transform-origin: center center;
  transform: translate3d(0, 0, 0);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}