.header {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px;
  z-index: 1;

  @include smartphone {
    padding: 5px;
    padding-left: 10px;
    padding-right: 14px;
    align-items: center;
  }
}
