.slider {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  @include tablet {
    flex-wrap: nowrap;
    height: 100%;
  }
}

//info

.info {
  background-color: $grey;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include tablet {
    display: block;
    width: 100%;
    align-items: center;
    order: 2;
  }
}

.info__heading {
  margin-bottom: 25px;
}


.info__wrap {
  text-align: center;
  padding: 80px;

  @include hugeScreen {
    padding-left: 25%;
    padding-right: 25%
  }

  @include tablet {
    padding: 50px 100px;
  }

  @include smartphone {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}

.info__stack {
  font-weight: 500;
  color: $green;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px solid $green;
  border-bottom: 1px solid $green;
  margin-bottom: 40px;
}


.info__link {
  background-color: $green;
  color: $white;
  padding: 15px 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  @include tablet {
    padding: 10px 15px;
  }

  @include smartphone {
    font-size: 14px;
  }

  &:hover {
    background-color: $darkGreen;
  }

  &:before {
    content: url('../../static/images/otherIcons/link.svg');;
  }
}

.info__link-text {
  margin-left: 10px;
}

//main

.slider__main {
  background-color: $beige;
  width: 50%;
  height: 65%;
  position: relative;
  overflow: hidden;
  @include tablet {
    width: 100%;
    height: 530px;;
    order: 1;
  }
}

.slider__main-wrap {
  padding: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  transition: all 0.4s;
}

.slider__main-wrap_active {
  opacity: 1;
  z-index: 1;
}

//controls

.slider__controls {
  background-color: $beige;
  display: flex;
  width: 50%;
  height: 35%;
  @include tablet {
    width: 100%;
    height: 215px;;
    order: 3;
  }
}

.slider__control {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.slider__list {
  padding: 10px;
  width: 100%;
  height: 100%;
  position: relative;
}

.slider__wrap {
  padding: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: bottom 0.3s;
}

.slider__list_up {

  .slider__wrap {
    bottom: -100%;
    opacity: 0;
  }

  .slider__wrap_prev {
    bottom: 100%;
    display: flex;
    opacity: 1;
  }

  .slider__wrap_active {
    bottom: 0;
    display: flex;
    opacity: 1;
  }

}

.slider__list_down {

  .slider__wrap {
    bottom: 100%;
    opacity: 0;
  }

  .slider__wrap_prev {
    bottom: -100%;
    opacity: 1;
  }

  .slider__wrap_active {
    bottom: 0;
    opacity: 1;
  }

}

.slider__img {
  max-height: 100%;
  max-width: 100%;
}

.slider__button {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 2;

  &:hover .slider__arrow-img_down{
    transform: translate3D(0, 20px, 20px);
  }

  &:hover .slider__arrow-img_up{
    transform: translate3D(0, -20px, 20px) rotate(180deg);
  }
}

.slider__button_down {
  background-color: rgba(195, 193, 189, 0.7);
}

.slider__button_up {
  background-color: rgba(195, 193, 189, 0.5);
}

.slider__arrow-img {
  width: 45px;
}

.slider__arrow-img_up {
  transform: rotate(180deg);
}

.slider__connectionError {
  width: 60%;
  margin: 30px auto;

  @include smartphone() {
    width: 80%;
  }
}
